/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLES */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* EMPLOYEES TABLE COMPONENT */
.employees-table {
  width: 60%;
  height: auto;
  margin: 10vh auto;
  border-collapse: collapse;
}

.employees-table th {
  background-color: green;
  color: #f3f3f3;
}

.employees-table th,
td {
  width: 50%;
  height: auto;
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid green;
}

.employees-table tr:hover {
  background-color: teal;
  color: #f3f3f3;
}

.employees-table button {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: teal;
  color: #f3f3f3;
  transition: ease-out 0.3s;
}

.employees-table button:hover {
  background-color: #3d3d3d;
  cursor: pointer;
}

.employees-table button:active {
  transform: scale(92%);
  background-color: red;
}

/* EMPLOYEE FORM COMPONENT */
.employee-form {
  width: 60%;
  height: auto;
  margin: auto;
  padding: 1rem 0;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  display: flex;
  flex-direction: column;
}

.employee-form input[type="text"] {
  margin: 0.25rem 0;
  padding: 0.25rem;
}

.employee-form input[type="button"] {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border: none;
  outline: none;
  background-color: blue;
  color: #f3f3f3;
  transition: ease-out 0.5s;
}

.employee-form input[type="button"]:hover {
  background-color: green;
  cursor: pointer;
}

.employee-form input[type="button"]:active {
  background-color: yellowgreen;
  cursor: pointer;
  transform: scale(99%);
}
